.row .input-field input:focus {
  border-bottom: 1px solid #64b5f6  !important;
  box-shadow: 0 1px 0 0 #64b5f6  !important
}

.input-field .prefix.active {
  color: #64b5f6;
}

.input-field input:focus + label {
  color: #64b5f6  !important;
}